// Env file for my infra and metamask accounts

// rename to .env in truffle root

// install wallet
// npm install @truffle/hdwallet-provider

// install dotenv
// npm install dotenv

// Use truffle config that goes with this

MNEMONIC="Enter Your Accounts Mnemonic Here"

// URLs for test networks
INFURA_URL_ROPSTEN=https://ropsten.infura.io/v3/<INFURA_KEY>
INFURA_URL_KOVAN=https://kovan.infura.io/v3/<INFURA_KEY>
INFURA_URL_RINKEBY=https://rinkeby.infura.io/v3/<INFURA_KEY>
INFURA_URL_GOERLI=https://goerli.infura.io/v3/<INFURA_KEY>
